* {
    margin: 0;
    padding: 0;
    font-family: 'work sans';
    overflow-x: hidden
;
}

body {
    background-color: rgb(45, 45, 45);
}

.header {
    height: 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgb(43, 43, 43);
    -webkit-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.5);
}

.header-left {
    display: flex;
}

.header h1 {
    font-family: 'work sans';
    font-size: 40px;

}

.logo {
    width: 50px;
    margin-left: 150px;
    margin-right: 10px;

}

.header-right {
    margin-right: 150px;
}

.header-right svg {
    fill: white;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 9%;

}

.section1 .bg-video {
    height: 90%;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

}

.bada-text {
    font-size: 120px;
    font-weight: 700;
    background: #CF13CF;
    background: linear-gradient(to right, #CF13CF 0%, #FF9721 50%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.chota-text {
    margin-top: 20px;
    font-size: 36px;
    font-weight: 400;
    color: white;
}

.start-button {
    margin-top: 80px;
    border: none;
    background-color: rgb(209, 23, 202);
    color: white;
    font-size: 20px;
    border-radius: 50px;
    width: 280px;
    height: 70px;
    font-weight: 600;

}
.container {
    /* Add styles for the container here */
    display: inline-block; /* Ensure the container only takes up as much space as its contents */
    transition: transform 0.3s; /* Apply a transform transition for smooth scaling */
}

.container:hover {
    transform: scale(1.1); /* Scale the container and its contents on hover */
}

.start-button:hover {
    -webkit-box-shadow: 2px 7px 36px -3px rgba(0,0,0,1);
    -moz-box-shadow: 2px 7px 36px -3px rgba(0,0,0,1);
    box-shadow: 2px 7px 36px -3px rgba(0,0,0,1);
    cursor: pointer;
}

.start-button:active {
    -webkit-box-shadow: 2px 7px 36px -3px rgb(60, 60, 60);
    -moz-box-shadow: 2px 7px 36px -3px rgb(60, 60, 60);
    box-shadow: 2px 7px 36px -3px rgb(60, 60, 60);

}


.key-points {
    margin-top: 180px;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;

}

.key-points .point {
    color : white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(166deg, rgba(228,230,3,1) 0%, rgba(245,107,61,1) 46%, rgba(209,23,202,1) 100%);
    padding: 50px;
    border-radius: 20px;

}

.key-points svg {
    margin-bottom: 20px;
    margin-top: -20px;
    fill: white;
}

.key-points h1 {
    font-size: 30px;
}

.key-points p {
    font-size: 20px;
}

.section3 {
    background-color: white;
    padding: 40px;
    width: 100vw;
    margin-top: 53px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.section3 div {
    font-size: 60px;
    background: #CF13CF;
    background: linear-gradient(to right, #CF13CF 0%, #FF9721 50%, #CF1512 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 600;
}

.info-input {
    margin-top: 40px;
    font-size: 25px;
    display: flex;
    flex-direction: column;

}

.info-input label {
    color: rgb(43, 43, 43);
}

.info-input input {
    border: 2px solid rgb(43, 43, 43);
    border-radius: 4px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 20px;
}

.info-input button {
    border: none;
    border-radius: 50px;
    background-color: #df42df;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    color: white;
}

.info-input button:hover {
        -webkit-box-shadow: 2px 7px 36px -3px rgba(0,0,0,1);
        -moz-box-shadow: 2px 7px 36px -3px rgba(0,0,0,1);
        box-shadow: 2px 7px 36px -3px rgba(0,0,0,1);
        cursor: pointer;

}

#travel-plan {
    color: white;
}
#travel-plan div{
    margin: 40px;
}

footer {
    width: 100vw;
    height: 400px;

}